<htmL>
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <style>
      body{
        background-color: #2e353d;
      }
      p{
        font-family: "Open Sans", sans-serif;
        display: inline;
        font-weight: 300;
        font-size: 20pt;
        color: white;

      }
      p.first_half{
        font-weight: 700;
      }
      p.second_half{
        font-weight: 300;
      }
      div.container{
        padding-top: 24%;
        text-align: center;
        background-image:url('cloud.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        line-height: 100pt;
      }

    </style>
</head>
<body>
<div class="container">
<h2><p class="first_half">CF</p><p class="second_half">Notify</p></h2>
<p>
  There really isn't anything here for you...
</p>
</div>
</body>
</htmL>